{% load static %}

<nav class="main-nav overlay clearfix left">
	<a class="movie-logo" href="{% url 'movie:index' %}"><img src="{% static 'assets/img/legacy_logo.png' %}" alt="Fashion Critiques"/></a>
	<ul id="menu">
		<li class="my-style nav-home nav-curren÷t" role="presentation"><a href="{% url 'movie:index' %}">Home</a></li>
		<li class="my-style nav-about-us" role="presentation"><a href="{% url 'movie:about-me' %}">About Me</a></li>
		<li class="my-style nav-author-page" role="presentation"><a href="#">Contact Me</a></li>
		<span class="socialheader">
		<a href="#"><span class='symbol'>Signup</span></a>
		{% comment %} <a href="#"><span class='symbol'>circlefacebook</span></a> {% endcomment %}
		{% comment %} <a href="#"><span class='symbol'>circlegoogleplus</span></a> {% endcomment %}
		{% comment %} <a href="mailto:wowthemesnet@gmail.com"><span class='symbol'>circleemail</span></a> {% endcomment %}
		{% comment %} </span> {% endcomment %}
	</ul>
</nav>