{% extends 'shared/base.html' %}

{% load static %}

{% block content %}
<header class="main-header author-head " style="background-image: url({% static 'assets/img/banner.jpg' %})">
</header>
<section class="author-profile inner">
	<figure class="author-image-profile">
		<div class="img" style="background-image: url({% static 'assets/img/ihsun.jpg' %})">
			<span class="hidden">Ihsun Mozhdeh</span>
		</div>
	</figure>
	<h1 class="author-title">ihsun mozhdeh</h1>
	<h2 class="author-bio">The movie combining journalist Ihsun Mozhdeh&#x27;s years of experience covering fashion and culture for among others. Read my movie and you will learn how to become a fashion editor.</h2>
	<div class="author-meta">
		<span class="author-location icon-location">Iran, Tehran</span>
		<span class="author-link icon-link"><a href="https://www.github.com/ihsunmozhdeh/">https://www.github.com/ihsunmozhdeh</a></span>
	</div>
</section>
{% endblock content %}